appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
asn1crypto==0.24.0
attrs==18.2.0
autopep8==1.4.3
beautifulsoup4==4.6.0
black==18.9b0
Brlapi==0.6.6
cachetools==3.1.1
certifi==2018.1.18
chardet==3.0.4
Click==7.0
command-not-found==0.3
configobj==5.0.6
cryptography==2.1.4
cupshelpers==1.0
Cython==0.28.2
defer==1.0.6
distro-info===0.18ubuntu0.18.04.1
Django==2.2.2
djangorestframework==3.10.3
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
flake8==3.7.5
google-api-core==1.14.2
google-auth==1.6.3
google-cloud-core==1.0.3
google-cloud-storage==1.19.1
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
graphene-file-upload==1.2.2
httplib2==0.9.2
idna==2.6
jdcal==1.4
jedi==0.13.2
Kivy==1.10.1
louis==3.5.0
macaroonbakery==1.1.3
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
nemo-emblems==4.0.2
netifaces==0.10.4
numpy==1.16.2
onboard==1.4.1
openpyxl==2.6.2
PAM==0.4.2
pandas==0.24.2
parso==0.3.3
pbr==5.3.0
pexpect==4.2.1
Pillow==5.1.0
protobuf==3.9.1
psutil==5.4.2
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycairo==1.16.2
pycodestyle==2.5.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pyflakes==2.1.0
Pygments==2.2.0
pygobject==3.26.1
PyICU==1.9.8
pyinotify==0.9.6
pymacaroons==0.13.0
PyNaCl==1.1.2
pyOpenSSL==17.5.0
pyRFC3339==1.0
python-apt==1.6.4
python-dateutil==2.8.0
python-debian==0.1.32
python-xapp==1.4.0
python-xlib==0.20
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.18.4
requests-unixsocket==0.1.5
roman==2.0.0
rsa==4.0
sessioninstaller==0.0.0
setproctitle==1.1.10
six==1.11.0
sqlparse==0.3.0
stevedore==1.30.1
system-service==0.3
systemd-python==234
toml==0.10.0
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
xkit==0.0.0
XlsxWriter==1.1.6
yapf==0.26.0
